.env

!html
html/*

html/wp-admin
html/wp-includes

!html/wp-content
html/wp-content/*

!html/wp-content/themes
html/wp-content/themes/*
!html/wp-content/themes/coct-theme

!html/wp-content/plugins
html/wp-content/plugins/*
!html/wp-content/plugins/coct-plugin


